.carousel {
  margin-top: 60px;
}

.carousel-holder {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.carousel-scroller {
  width: 300%;
  transition: all 0.3s;
}

.carousel-scroller a {
  display: inline;
  position: relative;
  width: 33.33%;
}

.carousel-scroller img {
  width: 100%;
}

.carousel-scroller img:not(:first-child) {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}

.carousel-scroller a.activated img:nth-of-type(2) {
  opacity: 1;
  transition: opacity 0.8s;
  transition-delay: 0.8s;
}

.carousel-scroller a.activated img:nth-of-type(3) {
  opacity: 1;
  transition: all 0.8s;
  transition-delay: 1.6s;
  animation: falldown 1s linear 1.6s 1;
}

@keyframes falldown {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

.carousel-footer-link {
  width: 100%;
  color: white;
  background-color: black;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 900;
  cursor: pointer;
}

.carousel-footer-link button {
  color: black;
  height: 100%;
  background-color: rgb(252, 175, 23);
  padding: 0.9rem 1rem 1rem 1rem;
}

.carousel-footer-link span {
  height: 100%;
  align-self: center;
  margin: 0.6rem 0.5rem 0.9rem 2rem;
}

.carousel-dots {
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
}

.carousel-dots button {
  transition: all 0.3s;
  background-color: #000;
  height: 9.5px;
  width: 9.5px;
  padding: 0;
  border-radius: 999px;
  cursor: pointer;
}

.carousel-dots button:not(last-child) {
  margin-right: 0.8rem;
}

button.carousel-dot-active {
  transition: all 0.3s;
  background-color: rgb(252, 175, 23);
}
