* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: gta;
  src: url("../public/font.ttf");
}

html {
  font-family: gta;
}

a {
  color: #000;
  text-decoration: none;
}
.d-flex {
  display: flex;
}

.body {
  width: 100%;
  display: block;
  min-height: 100vh;
}

.footer {
  width: 100%;
  color: white;
  background-color: black;
  padding: 1.6rem;
  font-weight: 700;
  font-size: 1.1rem;
  justify-content: space-between;
  margin-top: 7rem;
}

.loading {
  background-color: #000 !important;
  color: #000 !important;
}

.footer span {
  margin: 0 0.3rem 0 0.3rem;
}

@media (max-width: 767.5px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer span {
    margin: 2.3rem 0.3rem 2.3rem 0.3rem;
    display: inline-block;
  }
}
.main-content {
  max-width: 1420px;
  margin: 0 auto;
}

.main-content section:not(:first-of-type) {
  padding: 0 1.4rem 0 1.4rem;
  margin-top: 2rem;
}

.section-header {
  font-weight: 900;
  width: 100%;
  font-size: 1.8rem;
  padding-bottom: 4px;
  border-bottom: 6px solid black;
  margin: 1rem 0 1rem 0;
}

.section-content {
  flex-direction: column;
}

.card-container {
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 100%;
  margin: 0.8rem 0 0.8rem 0;
  border: 1px solid #00000026;
  box-shadow: 3px 3px 6px 0 #00000033;
  transition: all 0.3s;
}

.fix-1-1 {
  position: relative;
  padding-top: 100%;
  width: 100%;
}

.fix-1-1 img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card img {
  width: 100%;
  min-height: 200px;
  background-color: #eee;
}

.lazy img {
  max-width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.lazy {
  opacity: 0;
}

.float-up {
  opacity: 1;
  transition: all 0.5s;
  transition-delay: 0.3s;
  animation: float 0.8s linear;
}

@keyframes float {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

.card:hover h1 {
  color: rgb(252, 175, 23);
}

.card-info {
  padding: 0.7rem 0.7rem 1.2rem 0.7rem;
  color: black;
  font-weight: 900;
}

.card-info h1 {
  font-size: 1.3rem;
  transition: color 0.3s;
  margin-bottom: 1rem;
}

.card-subtitle {
  border-radius: 999px;
  border: 1px solid #666;
  padding: 3px 8px 3px 6px;
  font-size: 0.8rem;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
}
.card-subtitle i {
  margin-right: 4px;
  font-style: italic;
}

.card-date {
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: 6px;
  color: rgb(100, 100, 100);
}

.flex-12 {
  flex: 0 0 100%;
}
.flex-6 {
  flex: 0 0 49%;
}
.flex-4 {
  flex: 0 0 32%;
}
.flex-3 {
  flex: 0 0 23.5%;
}

@media (max-width: 1199.5px) {
  .flex-4,
  .flex-3 {
    flex: 0 0 49%;
  }
}

@media (max-width: 767.5px) {
  .flex-6,
  .flex-4,
  .flex-3 {
    flex: 0 0 100%;
  }
}

.viewmore {
  margin-top: 1.7rem;
  align-self: center;
  color: black;
  font-weight: normal;
  font-size: 1rem;
  position: relative;
}

.viewmore::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background: rgb(252, 175, 23);
  left: 0;
  transition: height 0.2s;
  z-index: -1;
}

.viewmore:hover::before {
  height: calc(1rem + 4px);
}

.carousel {
  margin-top: 60px;
}

.carousel-holder {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.carousel-scroller {
  width: 300%;
  transition: all 0.3s;
}

.carousel-scroller a {
  /* display: inline; */
  position: relative;
  width: 33.33%;
}

.carousel-scroller img {
  width: 100%;
}

.carousel-scroller img:not(:first-child) {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}

.carousel-scroller a.activated img:nth-of-type(2) {
  opacity: 1;
  transition: opacity 0.8s;
  transition-delay: 0.8s;
}

.carousel-scroller a.activated img:nth-of-type(3) {
  opacity: 1;
  transition: all 0.8s;
  transition-delay: 1.6s;
  animation: falldown 1s linear 1.6s 1;
}

@keyframes falldown {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

.carousel-footer-link {
  width: 100%;
  color: white;
  background-color: black;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 900;
  cursor: pointer;
  margin-top: -2px;
  text-transform: uppercase;
}

.carousel-footer-link button {
  color: black;
  height: 100%;
  background-color: rgb(252, 175, 23);
  padding: 0.9rem 1rem 0.9rem 1rem;
}

.carousel-footer-link span {
  margin: 0.8rem 0.5rem 0.9rem 2rem;
}

.carousel-dots {
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
}

.carousel-dots button {
  transition: all 0.3s;
  background-color: #000;
  height: 9.5px;
  width: 9.5px;
  padding: 0;
  border-radius: 999px;
  cursor: pointer;
}

.carousel-dots button:not(last-child) {
  margin-right: 0.8rem;
}

button.carousel-dot-active {
  transition: all 0.3s;
  background-color: rgb(252, 175, 23);
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  display: grid;
  z-index: 7;
}

.nav-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/homePage/26iy.jpg);
  background-repeat: repeat-x;
  background-size: auto 100%;
  z-index: -1;
  animation: roll 7s linear infinite forwards;
}

@keyframes roll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1024px 0;
  }
}

.nav-item-container {
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px 12px 24px;
}

.nav-item-container > div {
  cursor: pointer;
}

.nav-mid img {
  width: 37px;
  height: 34px;
  border: 1px solid black;
  border-radius: 7px;
}

.nav-left {
  align-items: center;
}

.nav-left div {
  height: 0;
  width: 1.5rem;
  border: 2px solid rgb(252, 175, 23);
  margin: 4px 0 4px 0;
}

.nav-login {
  border-radius: 999px;
  width: 36px;
  height: 36px;
  background-color: #ffffff26;
  justify-content: center;
  align-items: center;
}

.nav-right i {
  color: #fff;
  font-size: 20px;
}
